.form {
  max-width: 983px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 54px;
}

.form .form_fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 86px 64px 86px 64px;
}

.form .form_fields h2 {
  margin-bottom: 60px;
}

.form .form_fields .form_fields_input {
  font-size: 24px;
  color: #ffffff;
  width: 604px;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  outline: none;
  margin-bottom: 135px;
}

.form .form_fields .form_fields_input:focus {
  border-color: #bc11e2;
  -webkit-box-shadow: 0px 13px 19px -9px #bc11e2;
          box-shadow: 0px 13px 19px -9px #bc11e2;
}

.form .form_fields .form_fields_btn {
  max-width: 314px;
  width: 100%;
  height: 72px;
  background: #d39c0f;
  border-radius: 54px;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  font-size: 24px;
}

.form .form_fields .form_fields_btn:hover {
  background: #bd11e2;
  cursor: pointer;
}

.form .form_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 86px;
}

.form .form_social a {
  margin: 10px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form .form_social a img {
  width: 70px;
  height: 70px;
}

.form .form_social a:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media all and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
  }
  .form .form_fields {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 55px 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form .form_fields .form_fields_input {
    width: 280px;
    margin-bottom: 50px;
  }
  .form .form_social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .form .form_social .separate {
    width: 100%;
  }
  .form .form_social a img {
    width: 50px;
    height: 50px;
  }
}
/*# sourceMappingURL=contact-form.css.map */